/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: #3a3a3a;
    font-family: 'roboto' , sans-serif;
    
}

/*header*/
header{
background-color: bisque;
padding: 0 10rem;
position: fixed;
z-index: 99; 
width: 100%;
box-shadow: 0 2px 2px bisque;
display: flex;
justify-content: space-between;
align-items: baseline;
}

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

header a {
    text-decoration: none;
    color: inherit;
}


h1{
    font-family: 'Bebas Neue' , sans-serif ;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

 .active{
border-bottom: 1px solid #3a3a3a;
 }

 /* Navbar styles with dropdown toggle*/
 nav{
    position: absolute;
    background-color: bisque;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px bisque;
    display: none;
    top: 100%;
 }

 /*Nav toggle*/
 #nav-toggle:checked~nav{
    display: block;
 }

 #nav-toggle {
    display: none;
 }

 .nav-toggle-label{
    font-size: 2rem;
 }

#menu > li {
    margin-bottom: 1em;
}

/*main*/
main{
/* Use to push footer down*/
flex: 1 0 auto;
margin-top: 47px;
display: flex;
flex-direction: column;
}

/*hero section*/
#hero{
    height: 900px;
    width: 100%;
    background: url("../images/ivan-zakharenko-KeGKEOjhy6E-unsplash.jpg") no-repeat center center/cover ;   
}

#hero-two{
    height: 900px;
    width: 100%;
    background: url("../images/full-shot-women-doing-plank.jpg") no-repeat center center/cover ; 
    
}

 #comments{
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
 }

/*class timetable*/
#timetable{
    padding: 1rem 0;
    margin-bottom: 80px;
    background-color: azure;

}

.text-center{
    text-align: center;
}

#carrick{
    background-color: rgb(226, 255, 255);
    left: 70px;
    top: -15px;

}


#online{
    background-color: rgb(226, 255, 255);
    box-shadow: 2px 11px rgb(226, 255, 255);
}

#dublin{
    background-color: rgb(226, 255, 255);
    right: 70px;
    top: -15px;  
}

.times-section{
    width: 33%;
    margin: 1rem 0;
    display: inline-block;
}

ul{
    list-style-type: none;
}

#text{
display: inline-block;
padding: 2rem;
margin: 0 auto;
padding-top: 40px;
padding-bottom: 40px;
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
font-weight: bold;
}

#text h1{
    padding: 70px 0;
    border: 3px;

}


/*map*/
#map-wrapper{
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#map{
    height: 100%;
    width: 100%;
    border: none;
    
}

/*sign up button*/
#button{
display: grid;
height: 100px;
width: 200px;
background: rgb(206, 248, 248);
color: #ffffff;
text-align: center;
font-weight: bold;
font-size: 100%;
line-height: 100px;
border-radius: 20px;
}

#hero-classes{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

/*gallery*/
#photos img{
    width: 100%;
    line-height: 1em;
}

#photos{
line-height: 0;
}

/*sign up page*/
#signup{
    background-image: url("..//images/gym-is-place-inspiration-dreamy-attractive-strong-caucasia.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    
}

#signup-form{
    color: #ffffff;
    background-color: transparent; 
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
    top: 50px;
    bottom: 40px;
}

#signup-form>h2{
    color: #252525;
    margin-bottom: 20px;
}

.text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

label{
    color: #252525;
}

.join-button{
    margin-top: 10px;
    border-radius: 2px;
    padding: 10px 50px;
    font-size: 50%;
    background-color: #454b1b;
    color:#fafafa;
    display: flex;
    align-items: center;
   flex-direction: column;
}


/*footer*/
#social-networks {
    text-align: center; 
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: bisque;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}




/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: large or landscape phones (340px and up) */
@media screen and (min-width: 340px) {
    .times-section{
        text-align: center;
    }

    #signup {
        background-position: center;
        position: relative;
    }
    
    }




/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Form */
    #signup {
        background-position: center;
        position: relative;
        }
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 50px;
       
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    /*Gallery*/
#photos{
    column-count: 3;
}

/* Main content */
main {
    /* Push main content down to accommodate larger header */
    margin-top: 79px;
}



/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
}

/*Gallery*/
#photo{
    column-count: 4;
}